@import '../common/variables';

.be-modal.be-modal-share {
    .be-modal-content {
        input[type="text"] {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .be-modal-btns {
        align-items: center;
        justify-content: space-between;
    }
}
